<!DOCTYPE html>
<html>
<head>
    <!-- SEO -->
    <meta name="title" content="Register - AOT Student's Chapter of IEI"/>
    <meta name="description" content="Registration for Members of Academy Of Technology's Student's Chapter of Institute of Engineers - India. We do tech as well as cultural events and are the club to be at if you're at AOT."/>
    <meta name="keywords" content="aot, aot club, academy of technology, iei student's chapter"/>
    <meta name="author" content="Members of AOT Student's Chapter of IEI"/>
    <meta name="theme-color" content="#1CA3EC"/>

    <!-- Open Graph Sharing -->
    <meta property="og:title" content="Login - AOT Student's Chapter of IEI"/>
    <meta property="og:description" content="Login for Members of Academy Of Technology's Student's Chapter of Institute of Engineers - India. We do tech as well as cultural events and are the club to be at if you're at AOT."/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>    

    <!-- Meta Descriptors -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Can't go without a title -->
    <title>Register | AOT Student's Chapter of IEI</title>

    <!-- Materials -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>

    <!-- Custom Styling -->
    <link rel="stylesheet" href="login/style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

</head>
<body>

    <div class="container">
        <h4>Sign Up</h4>
        <p class="flow-text">We need to know your email id and password in order to log you in</p>
        <form action="192.168.1.4:8080" method="POST">
            <div class="input-field">
                <input type="email" name="email" class="validate">
                <label for="email">Email-ID</label>
                <span class="helper-text" data-error="There must be an '@' in an Email ID">Enter your email id</span>
            </div>
            <div class="input-field">
                <input type="password" name="password">
                <label for="password">Password</label>
                <span class="helper-text">Enter your password</span>
            </div>
            <div class="input-field">
                <input type="submit" class="btn waves-effect">
            </div>
        </form>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>
</html>