<!DOCTYPE html>
<html>
<head>

    <!-- SEO -->
    <meta name="title" content="AOT Student's Chapter of IEI"/>
    <meta name="description" content="Official page of Academy Of Technology's Student's Chapter of Institute of Engineers - India. We do tech as well as cultural events and are the club to be at if you're at AOT."/>
    <meta name="keywords" content="aot, aot club, academy of technology, iei student's chapter"/>
    <meta name="author" content="Members of AOT Student's Chapter of IEI"/>
    <meta name="theme-color" content="#1CA3EC"/>

    <!-- Open Graph Sharing -->
    <meta property="og:title" content="AOT Student's Chapter of IEI"/>
    <meta property="og:description" content="Official page of Academy Of Technology's Student's Chapter of Institute of Engineers - India. We do tech as well as cultural events and are the club to be at if you're at AOT."/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>    

    <!-- Meta Descriptors -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Can't go without a title -->
    <title>Home | AOT Student's Chapter of IEI</title>

    <!-- Materials -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>

    <!-- Custom Styling -->
    <link rel="stylesheet" href="style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

</head>

<body>
    
    <!-- Waves -->
    <img class="left-align" id="top-waves" src="assets/top_waves.svg"/>    

    <!-- First page -->
    <main class="container">
        <!-- Navigation -->
        <nav class="z-depth-0">
            <ul class="right">
                <li><a class="btn waves-effect" href="#">Team</a></li>
                <li><a class="btn waves-effect orange lighten-1" href="#">Login</a></li>
            </ul>
        </nav>
        
        <!-- Logo -->
        <!-- <img id="logo" class="white circle" src="#"/> -->

        <!-- Main content -->
        <h3 id="main-title"class="white-text">Welcome to IEI Student's Chapter of Academy Of Technology</h3>
        <p class="flow-text">We are a <span class="white-text">community</span> of university students who code for fun and organize cultural activities. We think of an idea, 
            form a team and get down to planning it out. We create a backend in the <span class="white-text">Cloud</span>, take inputs from <span class="white-text">IOT</span> devices and
            develop a cool looking <span class="white-text">Web App</span>. Then we get down on <span class="white-text">Flutter</span> and generate an awesome app.
            Finally, we sprinkle a pinch of <span class="white-text">Machine Learning</span> to it and make it intelligent. 
            Wanna be a part of this cool community? Join us today!</p>
        <a id="register-btn" href="#" class="btn-large waves-effect amber darken-4 white-text">Register Now</a>
    </main>

    <!-- Second Page -->
    <section class="container page">
        <h3 class="white-text">We do tech...</h3>
        <p class="flow-text">
                There are so many domains to explore in today's world. But the reality is
                that, when making a production-level application, all of the domains
                come together to make the app <span class="white-text"><i>cool!</i></span> </p>
                
        <p class="flow-text">Hence, when we work on an idea, we start designing the back-end on
                the <span class="white-text">Cloud</span>. The front-end team starts to <span class="white-text">design</span> using Figma or Design XD.
                Then they write the html-scss code and use great Js <span class="white-text">frameworks</span> like Vue.
                Finally the backend and this <span class="white-text">web app</span> integrates properly. There is someone
                looking after the <span class="white-text">database</span>. When this system was being built, there was 
                a team dedicated to make an <span class="white-text">Android</span> app using Flutter or Kotlin. </p>
                
        <p class="flow-text">Oh, and when it's almost ready, we sprinkle <span class="white-text">Machine Learning</span> in every possible
                place and fine tune the knobs before it goes to <span class="white-text">production</span>.                        
        </p>
    </section>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="./script.js"></script>
</body>
</html>