/* Oh, we need Product Sans */
@font-face {
    font-family: 'Product Sans';
    src: url('../_fonts/Product\ Sans\ Regular.ttf');
}

body {
    
    /* Applying Product Sans */
    font-family: 'Product Sans', sans-serif;

    /* Height*/
    height: 500vh;
    
    /* Gradient */
    background: #1BA2EB; /* Old browsers */
    background: -moz-linear-gradient(top,  #1BA2EB 0%, #4255C4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1BA2EB 0%,#4255C4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1BA2EB 0%,#4255C4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1BA2EB', endColorstr='#4255C4',GradientType=0 ); /* IE6-9 */

}

/* Top Waves */
#top-waves {
    width: 50%;
}
@media screen and (max-width: 600px) {
    #top-waves {
        width: 75%;
    }
}

.page {
    margin-top: 20vh;
}

/* NavBar */
nav {
    background-color: inherit;
}

/* Title shrink for desktop*/
#main-title {
    max-width: 800px;
}

/* logo size */
#logo {
    max-width: 150px;
}

.floating-img {
    width: 90%; 
}

