<!DOCTYPE html>
<html>
<head>

    <!-- SEO -->
    <meta name="title" content="AOT Student's Chapter of IEI"/>
    <meta name="description" content="Official page of Academy Of Technology's Student's Chapter of Institute of Engineers - India. We do tech as well as cultural events and are the club to be at if you're at AOT."/>
    <meta name="keywords" content="aot, aot club, academy of technology, iei student's chapter"/>
    <meta name="author" content="Members of AOT Student's Chapter of IEI"/>
    <meta name="theme-color" content="#1CA3EC"/>

    <!-- Open Graph Sharing -->
    <meta property="og:title" content="AOT Student's Chapter of IEI"/>
    <meta property="og:description" content="Official page of Academy Of Technology's Student's Chapter of Institute of Engineers - India. We do tech as well as cultural events and are the club to be at if you're at AOT."/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>    

    <!-- Meta Descriptors -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Can't go without a title -->
    <title> Sandipan Dey | AOT Student's Chapter of IEI</title>

    <!-- Materials -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>

    <!-- Custom Styling -->
    <link rel="stylesheet" href="style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

</head>

<body>

    <!-- Welcome -->
    <div class="container">
        <div class="right">
            <a href="#" class="btn waves-effect">Logout</a>
        </div>
        <h2>Hey, Sandipan!</h2>
    </div>

    <hr>

    <br>

    <div id="app">
        <div class="container">
            <h5>Here are the events you've already enrolled in:</h5>
            <div class="collection">
                <a class="collection-item" v-for="event in enrolled_events">
                    <i>{{ event }}</i>
                    <p> Here is a description </p>
                </a>
            </div>
        </div>

        <br>
    
        <div class="container">
            <h5>Here are the events you can attend to</h5>
            <div class="collection">
                <a class="collection-item" v-for="event in enrolled_events">
                    <i>{{ event }}</i>
                    <p> Here is a description </p>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <p>* In order to enroll/unenroll from any event, please visit our help desk</p>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="./script.js"></script>
</body>
</html>